<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Character</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="char.characterInfo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Character Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-input (ionChange)="saveChanges()" label-placement="floating" label="Character Name" placeholder="Your character name here" [(ngModel)]="char.characterInfo.name"></ion-input>
          </ion-col>
          <ion-col size="4">
            <ion-input (ionChange)="saveChanges()" label-placement="floating" label="UID" placeholder="Your UID here" [(ngModel)]="char.characterInfo.uid"></ion-input>
          </ion-col>
          <ion-col size="4">
            <ion-select (ionChange)="saveChanges()" justify="space-between" label="Server" placeholder="On which server do you play?" [(ngModel)]="char.characterInfo.server">
              <ion-select-option *ngFor="let s of server" [value]="s">{{s}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-select (ionChange)="saveChanges()" justify="space-between" label="Suppressor" placeholder="What's your suppressor level?" [(ngModel)]="char.characterInfo.supre">
              <ion-select-option *ngFor="let sup of sp" [value]="sup.k">{{sup.v}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Shots</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-input (ionChange)="saveChanges()" label-placement="fixed" label="Attack" placeholder="Power Shot taken" type="number" min="0" [(ngModel)]="char.characterInfo.shots.powerShot"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input (ionChange)="saveChanges()" label-placement="fixed" label="HP" placeholder="Source Shot taken" type="number" min="0" [(ngModel)]="char.characterInfo.shots.sourceShot"></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Simulacra</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-input (ionChange)="saveChanges()" label-placement="fixed" label="4500" placeholder="How many activated?" type="number" min="0" [(ngModel)]="char.characterInfo.simul['4500']"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input (ionChange)="saveChanges()" label-placement="fixed" label="5500" placeholder="How many activated?" type="number" min="0" [(ngModel)]="char.characterInfo.simul['5500']"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input (ionChange)="saveChanges()" label-placement="fixed" label="7000" placeholder="How many activated?" type="number" min="0" [(ngModel)]="char.characterInfo.simul['7000']"></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Weapons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let weapon of char.characterInfo.weapon; index as wIdx">
            <ion-card class="weapon-select">
              <ion-card-content>
                <ion-button *ngIf="weapon.name!=null" (click)="unequipWeapon(wIdx)">Unequip</ion-button>
                <ion-select (ionChange)="saveChanges()" [(ngModel)]="weapon.name" [placeholder]="'Select Weapon '+(wIdx+1)">
                  <ion-select-option *ngFor="let w of wp" [value]="w">{{w}}</ion-select-option>
                </ion-select>
                <ion-range (ionChange)="saveChanges()" *ngIf="weapon.name!=null" [label]="'Level: '+weapon.level" [(ngModel)]="weapon.level" [min]="1" [max]="200" [pin]="true"></ion-range>
                <ion-range (ionChange)="saveChanges()" *ngIf="weapon.name!=null" [label]="'Advance: '+weapon.advance" [(ngModel)]="weapon.advance" [ticks]="true" [snaps]="true" [min]="0" [max]="6" [pin]="true"></ion-range>
                <ion-card *ngIf="weapon.name!=null">
                  <ion-card-header>
                    <ion-card-title>Matrix</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-card *ngFor="let m of weapon.matrix | keyvalue">
                      <ion-card-header><ion-card-title>{{m.key}}</ion-card-title></ion-card-header>
                      <ion-card-content>
                        <ion-button *ngIf="m.value.name!=null" (click)="unequipMatrix(wIdx,m.key)">Unequip</ion-button>
                        <ion-select (ionChange)="saveChanges()" [(ngModel)]="m.value.name" [placeholder]="'Select Matrix '+m.key">
                          <ion-select-option *ngFor="let m of mt" [value]="m">{{m}}</ion-select-option>
                        </ion-select>
                        <ion-range (ionChange)="saveChanges()" *ngIf="m.value.name!=null" [label]="'Level: '+m.value.level" [(ngModel)]="m.value.level" [min]="0" [max]="100" [pin]="true"></ion-range>
                        <ion-range (ionChange)="saveChanges()" *ngIf="m.value.name!=null" [label]="'Advance: '+m.value.advance" [ticks]="true" [snaps]="true" [(ngModel)]="m.value.advance" [min]="0" [max]="3" [pin]="true"></ion-range>
                      </ion-card-content>
                    </ion-card>
                  </ion-card-content>
                </ion-card>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gears</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let gr of char.characterInfo.gear | keyvalue">
            <ion-card class="gear-select">
              <ion-card-header><ion-card-title>{{gr.key}}</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-select (ionChange)="saveChanges()" [placeholder]="'Select '+(gr.key)+' rarity'" [(ngModel)]="char.characterInfo.gear[gr.key].rarity">
                  <ion-select-option [value]="5">5*</ion-select-option>
                  <ion-select-option *ngIf="al.includes(gr.key)" value="Augment">Augment</ion-select-option>
                  <ion-select-option *ngIf="al.includes(gr.key)" value="Titan">Titan</ion-select-option>
                </ion-select>
                <ion-range (ionChange)="saveChanges()" *ngIf="char.characterInfo.gear[gr.key].rarity!=null" [label]="'Enhance: '+char.characterInfo.gear[gr.key].enhance" [snaps]="true" [(ngModel)]="char.characterInfo.gear[gr.key].enhance" [min]="0" [max]="55" [pin]="true"></ion-range>
                <ion-card *ngIf="char.characterInfo.gear[gr.key].rarity!=null">
                  <ion-card-header><ion-card-title>Random Stat</ion-card-title></ion-card-header>
                  <ion-card-content>
                    <ion-row *ngFor="let r of char.characterInfo.gear[gr.key].random; index as rIdx">
                      <ion-col>
                        <ion-select (ionChange)="saveChanges()" [(ngModel)]="r.type" [placeholder]="'Select Random Stat '+(rIdx+1)">
                          <ion-select-option *ngFor="let stat of rs[gr.key]" [value]="stat">{{stat}}</ion-select-option>
                        </ion-select>
                      </ion-col>
                      <ion-col *ngIf="r.type!=null">
                        <ion-input (ionChange)="saveChanges()" type="number" min="0" [(ngModel)]="r.val"></ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
                <ion-card *ngIf="char.characterInfo.gear[gr.key].rarity=='Augment'||char.characterInfo.gear[gr.key].rarity=='Titan'">
                  <ion-card-header><ion-card-title>Augment Stat</ion-card-title></ion-card-header>
                  <ion-card-content>
                    <ion-row *ngFor="let aug of char.characterInfo.gear[gr.key].augment; index as augIdx">
                      <ion-col>
                        <ion-select (ionChange)="saveChanges()" [(ngModel)]="aug.type" [placeholder]="'Select Augment Stat '+(augIdx+1)">
                          <ion-select-option *ngFor="let stat of rs[gr.key]" [value]="stat">{{stat}}</ion-select-option>
                        </ion-select>
                      </ion-col>
                      <ion-col *ngIf="aug.type!=null">
                        <ion-input (ionChange)="saveChanges()" type="number" min="0" [(ngModel)]="aug.val"></ion-input>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="char.characterInfo.gear[gr.key].rarity=='Titan'">
                      <ion-col>
                        <ion-select (ionChange)="saveChanges()" [(ngModel)]="char.characterInfo.gear[gr.key].rare.type" placeholder="Select Rare Stat">
                          <ion-select-option *ngFor="let tstat of ts[gr.key]" [value]="tstat">{{tstat}}</ion-select-option>
                        </ion-select>
                      </ion-col>
                      <ion-col *ngIf="char.characterInfo.gear[gr.key].rare.type!=null">
                        <ion-range (ionChange)="saveChanges()" [label]="'Lv.'+char.characterInfo.gear[gr.key].rare.val" [ticks]="true" [snaps]="true" [(ngModel)]="char.characterInfo.gear[gr.key].rare.val" [min]="1" [max]="3" [pin]="true"></ion-range>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
