<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-item lines="none">
            <ion-avatar slot="end"><img src="assets/icon/icon.png"/></ion-avatar>
            <ion-label>
              <h1>{{appTitle}}</h1>
              <p>Simple tools to help you!</p>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="" lines="none" detail="false" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <ion-icon aria-hidden="true" slot="start" ios="home-outline" md="home-sharp"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <p><ion-label>Created by nandakho</ion-label></p>
        <div *ngIf="con.mode=='web'">
          <a [href]="gitLink" target="_blank"><ion-icon name="logo-github"></ion-icon><p><ion-label> Find this project on Github!</ion-label></p></a>
          <a [href]="psLink" target="_blank"><ion-icon name="logo-google-playstore"></ion-icon><p><ion-label> Android version now available!</ion-label></p></a>
        </div>
        <div *ngIf="con.mode!='web'">
          <a (click)="visit('Github')"><ion-icon name="logo-github"></ion-icon><p><ion-label> Github Page</ion-label></p></a>
          <a (click)="visit('Playstore')"><ion-icon name="logo-google-playstore"></ion-icon><p><ion-label> Playstore</ion-label></p></a>
          <p><ion-label>{{con.modeCapitalize}} Client v{{con.verString}}</ion-label></p>
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
