ion-menu {
  ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --background: var(--ion-color-dark-shade);
    ion-list {
      padding-top: 20px;
      background: transparent;
      border: 0px;
      ion-item {
        --padding-start: 10px;
        --padding-end: 10px;
        border-radius: 4px;
        --background: transparent;
        --color: var(--ion-color-primary-contrast);
        ion-icon {
          color: var(--ion-color-primary-contrast);
        }
        --padding-end: 0px;
        ion-avatar {
          margin: 0px;
        }
        ion-label {
          h1 {
            font-weight: bold;
            color: var(--ion-color-warning);
          }
          p {
            color: var(--ion-color-medium-tint);
          }
        }
      }
      ion-item.selected {
        --color: var(--ion-color-success);
        --background: rgba(var(--ion-color-success-rgb), 0.14);
        ion-icon {
          color: var(--ion-color-success);
        }
      }
    }
  }
  ion-footer {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--ion-color-medium-tint);
    background: var(--ion-color-dark-shade);
    p {
      margin: 5px 0px 5px 0px;
    }
    a {
      color: inherit;
      text-decoration: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-icon {
        font-size: 24px;
        padding-right:4px;
      }
    }
  }
}