ion-header {
    ion-toolbar {
        --background: var(--ion-color-dark-shade);
        ion-menu-button {
            color: var(--ion-color-warning);
        }
        ion-title {
            font-weight: bold;
            color: var(--ion-color-warning);
        }
    }
}

ion-content {
    --background: var(--ion-color-dark-shade);
    div {
        padding: 20px;
        height: 45%;
        min-height: 350px;
        swiper-container {
            height: 100%;
        }
        p {
            margin: 0px;
        }
    }
}

swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
  
swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;    }
}

ion-card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 15px;
    color: var(--ion-color-primary-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    ion-card-header {
        padding: 0px 12px 6px 12px;
        ion-card-title {
            font-weight: bold;
            color: var(--ion-color-warning);
        }
    }
    ion-card-content {
        white-space: break-spaces;
        padding: 6px 12px 0px 12px;
        display: flex;
        flex-direction: column;
        ion-label.subtitle {
            font-weight: lighter;
            padding-bottom: 6px;
        }
        color: rgba(var(--ion-color-primary-contrast-rgb), 0.9);
    }
    .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
    
    .card-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
        background-color: #000000;
    }
}