<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gear Compare</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="helpGif" class="img-container" (click)="hideHelp()">
  <img [src]="helpGif" class="popup-img"/>
</div>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header class="stats">
          <ion-card-title>
            Your Stats <ion-icon name="help-circle-outline" (click)="showHelp('stats')"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="subtitle">Input your stat below</ion-label>
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-button fill="outline" (click)="changeElement()" [ngClass]="'Element_'+elementSelected">
                      <ion-avatar slot="start"><img [src]="'assets/icon/elements/Element_'+elementSelected+'.png'"/></ion-avatar>{{elementSelected}} Attack
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5"><ion-input type="number" label="Base Attack" labelPlacement="stacked" placeholder="0" [(ngModel)]="yourStats.baseAtk" (ionInput)="recalcEquip('all')"></ion-input></ion-col>
                  <ion-col size="auto" class="plus_sign">+</ion-col>
                  <ion-col size="5"><ion-input type="number" label="Bonus Attack" labelPlacement="stacked" placeholder="0" [(ngModel)]="yourStats.bonusAtk" (ionInput)="recalcEquip('all')"></ion-input></ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header class="eqinfo">
          <ion-card-title>
            Equipment Info <ion-icon name="help-circle-outline" (click)="showHelp('eqinfo')"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="subtitle">Input equipment basic stat and enhancement below</ion-label>
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-button class="gear" fill="outline" (click)="changeGear()" [ngClass]="'Element_'+elementSelected">
                      <ion-avatar slot="start"><img [src]="'assets/icon/equipments/'+gearSelected.type+' '+gearSelected.rarity+'.png'"/></ion-avatar>{{gearSelected.type}}
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5"><ion-input type="number" label="Base Attack" labelPlacement="stacked" placeholder="0" [(ngModel)]="sharedStats.baseAtk" (ionInput)="recalcEquip('all')"></ion-input></ion-col>
                  <ion-col size="auto" class="plus_sign">+</ion-col>
                  <ion-col size="5"><ion-input type="number" label="Enhancement" labelPlacement="stacked" placeholder="0" [(ngModel)]="sharedStats.enhanceAtk" (ionInput)="recalcEquip('all')"></ion-input></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="auto"><ion-input type="number" label="Enhancement Unlocked (Attack)" labelPlacement="stacked" placeholder="0" [(ngModel)]="sharedStats.bonusAtk" (ionInput)="recalcEquip('all')"></ion-input></ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="equip">
      <ion-card class="container">
        <ion-card-header>
          <ion-card-title>Let's Compare!</ion-card-title>
          <ion-button color="warning" class="btn add-btn" fill="outline" size="small" (click)="addEquipment()"><ion-icon name="add-circle-outline"></ion-icon>Add</ion-button>
        </ion-card-header>
        <ion-card-content>
          <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="equipped" (ionChange)="changeEquipped()">
            <ion-card *ngFor="let e of equipment; let i=index">
              <ion-card-header>
                <ion-card-title>Equip {{i+1}}</ion-card-title>
                <ion-button color="danger" class="btn del-btn" fill="outline" size="small" (click)="removeEquipment(i)"><ion-icon name="remove-circle-outline"></ion-icon>Remove</ion-button>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item lines="none" class="ion-text-wrap">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="auto"><ion-input type="number" label="Attack" labelPlacement="stacked" placeholder="0" [(ngModel)]="e.attack" (ionInput)="recalcEquip(i)"></ion-input></ion-col>
                        <ion-col size="auto"><ion-input type="number" [label]="elementSelected+' Attack'" labelPlacement="stacked" placeholder="0" [(ngModel)]="e.eleAttack" (ionInput)="recalcEquip(i)"></ion-input></ion-col>
                        <ion-col size="auto"><ion-input type="number" [label]="elementSelected+' Attack %'" labelPlacement="stacked" placeholder="0" [(ngModel)]="e.eleAttackPercent" (ionInput)="recalcEquip(i)"></ion-input></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="auto"><ion-radio color="warning" labelPlacement="end" [value]="i">Equipped</ion-radio></ion-col>
                        <ion-col size="auto"><ion-input type="text" [label]="'Total '+elementSelected+' Attack (Calculated)'" labelPlacement="stacked" placeholder="0" readonly [value]="e.calculated.base+' + '+e.calculated.percent+' = '+e.calculated.total" [ngClass]="'result Element_'+elementSelected"></ion-input></ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-radio-group>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
