<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gear Compare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Your Stats
          </ion-card-title>
          <ion-card-subtitle>
            Input your stat without equipping the piece you want to compare
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Input form here
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
