/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Swiper
@import 'swiper/scss';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function get-gear-url($name) {
    $newname: str-replace($name, "-", " ");
    @return "#{$newname}";
}

@function repl-space($name) {
    $newname: str-replace($name, "_", " ");
    @return "#{$newname}";
}

ion-alert {
    --backdrop-opacity: 0.7;
    .alert-wrapper {
        --background: var(--ion-color-dark-tint);
        border: 1px solid var(--ion-color-medium-shade);
        .alert-head {
            .alert-title {
                color: var(--ion-color-primary-contrast);
                font-size: 1rem;
                font-weight: 800;
            }
        }
        .alert-radio-group {
            .alert-radio-button {
                border-bottom: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
                .alert-button-inner {
                    .alert-radio-icon {
                        border-color: var(--ion-color-primary-contrast);
                        .alert-radio-inner {
                            border-color: var(--ion-color-warning);;
                        }
                    }
                    .alert-radio-label {
                        font-size: 0.7rem;
                        font-weight: 600;
                        color: var(--ion-color-primary-contrast);
                    }
                }
            }
            $element-names: "Flame", "Frost", "Physical", "Volt", "Altered";
            @each $name in $element-names {
                .element-#{$name} {
                    background-image: url("assets/icon/elements/Element_#{$name}.png");
                }
            }
            $gear-names: "Helm", "Armor", "Belt", "Legguards", "Bracers", "Spaulders", "Sabatons", "Handguards", "Eyepiece", "Combat-Engine", "Exoskeleton", "Microreactor";
            @each $name in $gear-names {
                .gear-#{$name} {
                    background-image: url("assets/icon/equipments/#{get-gear-url($name)} 5.png");
                }
            }
            @each $name in $gear-names {
                .gear-#{$name}-5 {
                    background-image: url("assets/icon/equipments/#{get-gear-url($name)} 5.png");
                }
                .gear-#{$name}-Augment {
                    background-image: url("assets/icon/equipments/#{get-gear-url($name)} Augment.png");
                }
                .gear-#{$name}-Titan {
                    background-image: url("assets/icon/equipments/#{get-gear-url($name)} Titan.png");
                }
            }
            $weapon-names: "KING", "Zero", "Huma", "Tsubasa", "Cocoritter", "Meryl", "Shiro", "Crow", "Samir", "Nemesis", "Frigg", "Claudia", "Cobalt-B", "Ruby", "Saki", "Lin", "Lyra", "Tian_Lang", "Annabella", "Alyss", "Umi", "Fenrir", "Lan", "Icarus", "Fiona", "Gnonno", "Rubilia", "Liu_Huo", "Yu_Lan", "Ming_Jing", "Mimi", "Fei_Se", "Ling_Han", "Nanyin", "Yan_Miao", "Brevey", "Plotti", "Yanuo", "Asuka", "Ayanami_Rei", "Ji_Yu", "Roslyn", "Anka", "Nola", "MerylX", "Asurada", "Gray_Fox", "ClaudiaX", "Voidpiercer", "Antoria", "Carrot";
            @each $name in $weapon-names {
                .weapon-#{$name} {
                    background-image: url("assets/icon/weapons/#{repl-space($name)}.png");
                }
                .matrix-#{$name} {
                    background-image: url("assets/icon/matrixs/#{repl-space($name)}.png");
                }
            }
            $matrix-names: "Scylla", "Haboela";
            @each $name in $matrix-names {
                .matrix-#{$name} {
                    background-image: url("assets/icon/matrixs/#{repl-space($name)}.png");
                }
            }
            $stat-names: "HP","Crit","Attack","FlameAttack","FrostAttack","PhysicalAttack","VoltAttack","Resist","FlameResist","FrostResist","PhysicalResist","VoltResist","FlameAttackPercent","FrostAttackPercent","PhysicalAttackPercent","VoltAttackPercent","FlameDamagePercent","FrostDamagePercent","PhysicalDamagePercent","VoltDamagePercent","FlameResistPercent","FrostResistPercent","PhysicalResistPercent","VoltResistPercent","AlterAttack","AlterResist","AlterResistPercent","CritPercent","HPPercent","Delay","Heal","Normal","Skill","Damage","Weak","Dodge","Discharge","Lifesteal","Recovery","Block","Reduction";
            @each $name in $stat-names {
                .stat-#{$name} {
                    background-image: url("assets/icon/stats/#{repl-space($name)}.png");
                }
            }
            .eq-unequip {
                background-image: url("assets/icon/equipments/null.svg");
            }
            [class^="element-"],[class^="gear-"],[class^="weapon-"],[class^="matrix-"],[class^="stat-"],.eq-unequip {
                background-repeat: no-repeat;
                background-position: 70% center;
                background-size: contain;
                background-origin: content-box;
                padding: 4px;
            }
        }
        .alert-button-group {
            .alert-button {
                color: var(--ion-color-warning);
            }
        }
    }
}

ion-toast {
    opacity: 0%;
    transition: opacity 0.3s;
    --background: var(--ion-color-dark-tint);
    --border-radius: 12px;
    --box-shadow: none;
}

ion-toast::part(container){
    border: 2px solid var(--ion-color-warning);
    border-radius: 12px;
}

ion-toast::part(message){
    color: var(--ion-color-medium-contrast);
}

.toast-wrapper{
    background: none;
}

ion-alert {
    .del-btn {
        color: var(--ion-color-danger) !important;
    }
}
